<div
	id="promotion"
	class="flex fixed top-16 z-50 transition-all items-center justify-center p-2 bg-primary text-stone-900 text-xs md:text-base w-full"
	data-te-collapse-item
	data-te-collapse-show>
	<p class="min-h-0">
		Get 2% Cashback now by applying for our
		<a href="#" class="underline decoration-solid">premium membership</a>
	</p>
	<button
		class="absolute right-4 mx-2 min-h-0"
		data-te-collapse-init
		data-te-target="#promotion"
		aria-expanded="true"
		aria-controls="#promotion">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			class="w-6 h-6">
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M6 18L18 6M6 6l12 12" />
		</svg>
	</button>
</div>
