<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body
		class="flex flex-col font-sans text-stone-50 bg-stone-900 overflow-x-hidden relative h-[100vh]">
		<rect
			class="w-full h-full absolute -z-50 bg-logos opacity-10"></rect>
		<%- include('./partials/navbar'); %>
		<form
			class="flex flex-col bg-stone-50 m-auto p-12 shadow-md text-stone-900 gap-4 w-[90%] lg:w-[480px]" action="/login" method="post">
			<div class="flex font-sans justify-center items-center gap-2">
				<p class="text-3xl lg:text-5xl font-bold">Pinus</p>
				<div class="flex flex-col place-content-center gap-1">
					<p class="p-0 lg:py-1 text-2xl lg:text-3xl font-bold">Sylvestris</p>
					<hr class="border-0 border-t-2 border-primary" />
				</div>
			</div>
			<p class="text-stone-500 text-center text-xs lg:text-base">
				Sign in to an existing account.
			</p>
			<div class="flex flex-col gap-1">
				<label for="username" class="text-xs lg:text-base font-bold"
					>Username</label
				>
				<input
					type="text"
					class="transition-all bg-stone-200 p-2 focus:bg-stone-400 focus:outline-stone-600 text-xs lg:text-base"
					name="username"
					id="username" required/>
			</div>
			<div class="flex flex-col gap-1">
				<label for="password" class="text-xs lg:text-base font-bold"
					>Password</label
				>
				<input
					type="password"
					class="transition-all bg-stone-200 p-2 focus:bg-stone-400 focus:outline-stone-600 text-xs lg:text-base"
					name="password"
					id="password" required/>
			</div>
			<div class="flex flex-col">
				<button class="bg-primary p-2 mt-4 font-bold hover:brightness-90" type="submit">
					Login
				</button>
                <a href="/register" class="text-stone-500 underline place-self-center text-xs lg:text-base hover:brightness-150"
					>I don't have an account.</a
				>
			</div>
		</form>
	</body>
	<footer><%- include('./partials/footer'); %></footer>
</html>
