<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="flex flex-col font-sans text-stone-50 bg-stone-900 overflow-hidden relative h-[100vh]">
		<%- include('./partials/navbar'); %>
		<rect class="w-full h-full absolute -z-50 bg-logos opacity-10"></rect>
        <div class="flex flex-col bg-stone-50 m-auto p-12 shadow-md text-stone-900 gap-4 w-full h-full lg:w-[480px] lg:h-auto">
            <p class="font-bold text-xl">Page not found</p>
            <p class="text-base">Requested URL was not found on our site.</p>
        </div>
	</body>
	<footer><%- include('./partials/footer'); %></footer>
</html>
