<!DOCTYPE html>
<html lang="en" class="scroll-p-16 snap-y snap-mandatory">
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body class="font-sans text-stone-900 bg-news">
		<%- include('./partials/navbar'); %> 
        <%- include('./partials/promotion'); %>
		<div
			id="story"
			class="h-full-with-nav relative bg-stone-900 snap-start flex flex-col items-center justify-center">
			<rect
				class="top-0 w-full h-full absolute z-0 bg-[url('/svg/line.svg')] opacity-20"></rect>
			<div
				class="flex flex-col justify-center z-10 w-full md:w-4/6 text-left gap-12 p-4">
				<div class="flex flex-row justify-center gap-4">
					<img src="img/Pinus_Sylvestris.webp" class="h-16 md:h-32" />
					<div
						class="flex font-sans justify-center items-center gap-2 text-white">
						<p class="text-4xl md:text-6xl font-bold">Pinus</p>
						<div class="flex flex-col place-content-center gap-1">
							<p class="py-1 text-3xl md:text-4xl font-bold ">
								Sylvestris
							</p>
							<hr
								class="border-0 border-t-2 border-primary" />
						</div>
					</div>
				</div>
				<div class="justify-center z-10">
					<p class="text-xs md:text-base indent-8 text-justify text-white">
						The German restaurant was a family-owned business that had been serving authentic German cuisine for over two decades. Founded by a German immigrant, it had become a beloved fixture in the small town and had built a loyal following among locals and visitors alike. The restaurant had weathered its share of challenges, but its commitment to quality food and warm hospitality had never wavered. For the staff and the community, the restaurant was more than just a place to eat. It was a place of tradition, connection, and a true taste of Germany.
					</p>
				</div>
			</div>
			<a href="#vision" class="mx-auto absolute bottom-8">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-6 h-6">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
				</svg>
			</a>
		</div>
		<div
			id="vision"
			class="max-w-full h-full-with-nav relative text-stone-900 snap-start flex flex-col items-center justify-start">
			<div
				class="flex flex-col justify-center items-start w-full text-left gap-12 h-1/2 bg-right bg-cover bg-[url('/img/dining.jpg')]">
				<div
					class="bg-[#0006] md:bg-stone-50 text-stone-50 md:text-stone-900 flex flex-col w-full md:w-6/12 lg:w-5/12 xl:w-4/12 flex-1 justify-start gap-8 p-8">
					<div class="flex flex-row justify-start gap-4">
						<p class="text-base md:text-3xl lg:text-6xl font-bold">
							Our Vision
						</p>
					</div>
					<div class="flex justify-end flex-1">
						<p
							class="text-xs md:text-sm lg:text-base indent-8 text-justify line-clamp-5">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the
							industry's standard dummy text ever since the 1500s,
							when an unknown printer took a galley of type and
							scrambled it to make a type specimen book. It has
							survived not only five centuries, but also the leap
							into electronic typesetting, remaining essentially
							unchanged. It was popularised in the 1960s with the
							release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing
							software like Aldus PageMaker including versions of
							Lorem Ipsum. Why do we use it? It is a long
							established fact that a reader will be distracted by
							the readable content of a page when looking at its
							layout. The point of using Lorem Ipsum is that it
							has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here',
							making it look like readable English. Many desktop
							publishing packages and web page editors now use
							Lorem Ipsum as their default model text, and a
							search for 'lorem ipsum' will uncover many web sites
							still in their infancy. Various versions have
							evolved over the years, sometimes by accident,
							sometimes on purpose (injected humour and the like).
						</p>
					</div>
				</div>
			</div>
			<div
				class="flex flex-col justify-center items-end w-full text-left gap-12 h-1/2 bg-center bg-cover bg-[url('/img/kitchen.jpeg')]">
				<div
					class="bg-[#0006] md:bg-stone-50 text-stone-50 md:text-stone-900 flex flex-col w-full md:w-6/12 lg:w-5/12 xl:w-4/12 flex-1 justify-start gap-8 p-8">
					<div class="flex flex-row justify-start gap-4">
						<p class="text-base md:text-3xl lg:text-6xl font-bold">
							Our Philosophy
						</p>
					</div>
					<div class="flex justify-end flex-1">
						<p
							class="text-xs md:text-sm lg:text-base indent-8 text-justify line-clamp-5">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the
							industry's standard dummy text ever since the 1500s,
							when an unknown printer took a galley of type and
							scrambled it to make a type specimen book. It has
							survived not only five centuries, but also the leap
							into electronic typesetting, remaining essentially
							unchanged. It was popularised in the 1960s with the
							release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing
							software like Aldus PageMaker including versions of
							Lorem Ipsum. Why do we use it? It is a long
							established fact that a reader will be distracted by
							the readable content of a page when looking at its
							layout. The point of using Lorem Ipsum is that it
							has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here',
							making it look like readable English. Many desktop
							publishing packages and web page editors now use
							Lorem Ipsum as their default model text, and a
							search for 'lorem ipsum' will uncover many web sites
							still in their infancy. Various versions have
							evolved over the years, sometimes by accident,
							sometimes on purpose (injected humour and the like).
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer><%- include('./partials/footer'); %></footer>
</html>
